<ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <form [formGroup]="Form">
  <ion-card>
      <ion-list class="cards">
          <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input formControlName="username" type="text">
              </ion-input>
          </ion-item>
  
          
          <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" type="Password">
              </ion-input>
          </ion-item>
  
      </ion-list>
  
      <ion-row class="signin">
          <ion-col>
              <ion-button (click)="Login()" color="primary" shape="full" expand="block">LogIn</ion-button>
          </ion-col>
      </ion-row>
    </ion-card>
  </form>
  </ion-content>
  